
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@500&family=Montserrat:wght@300&family=Roboto:wght@100&display=swap')


* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
}

header {
	display: flex;
	background-color: white;
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
}

header img {
	width: 150px;
	padding-top: 10px;
}

.contener {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 50px;
}

.nav1 ul {
	display: flex;
	list-style: none;
	margin-right: 20px;
	margin-top: 50px;
}

.nav1 ul li a {
	text-decoration: none;
	margin-left: 40px;
	color: grey;
	font-size: 17px;
}

.nav2 ul {
	display: flex;
	list-style: none;
}

.nav2 ul li a {
	text-decoration: none;
	color: #87CEFA;
	font-size: 18px;
	font-weight: bold;
	padding: 15 20 15 20;
}

.nav2 a:hover {
	color: #28B4EE;
}

.don {
	border-radius:100px;
	background-color: #4682B4;
}

/* Fin du header */

#contact1 {
	margin: 0 auto; /* on place la section au centre de la page */
	width: 1200px;
}

.titreprincipal {
	display: flex;
	justify-content: center;
	background-image: url("../img/banniere2.jpg");
	background-size: cover;
	height: 200px;
	width: 1200px;
}

.titreprincipal h1 {
	text-transform: uppercase;
	font-size: 50px;
	color: white;
	padding: 20px;
	margin-top: 50px;
}

/* fin du bandeau */

fieldset {
	background-color:#EEE;
	}
input {
	box-sizing: border-box;
	border: 1px solid #999;
	}
legend {
	font-weight: bold;
	}
h4{
	text-align: center;
	}

